<div class="auth-wrapper">
  <div class="left-side">
    <div class="login-area">
      <h2>Forgot your password?</h2>
      <form (ngSubmit)="onSubmit()">
        <input 
          type="email" 
          name="email" 
          [(ngModel)]="email" 
          placeholder="Enter your email address" 
          required
        />
        <div *ngIf="message" [ngClass]="messageType" class="message-box">
        {{ message }}
      </div>
        <button class="auth-button" type="submit">Submit</button>
      </form>

      <div class="auth-links">
        <a [routerLink]="['/login']">Login</a>
      </div>
    </div>
  </div>

  <div class="right-side">
    <div class="welcome-box">
      <h1>Welcome to All Soft Multimedia</h1>
      <img src="/assets/Img/ASM.png" alt="Website Logo" class="big-logo" />
      <p class="sub-text">Your destination for premium computers, consoles, and digital accessories.</p>
    </div>
  </div>
</div>
