<div class="auth-wrapper">
  <!-- LEFT SIDE (full dark background + reset password form) -->
  <div class="left-side">
    <div class="login-area">
      <h2>Reset Password</h2>

      <form (ngSubmit)="onSubmit()">
        <input 
          type="password" 
          name="newPassword" 
          [(ngModel)]="newPassword" 
          placeholder="Enter new password" 
          required 
        />
        <input 
          type="password" 
          name="confirmPassword" 
          [(ngModel)]="confirmPassword" 
          placeholder="Confirm new password" 
          required 
        />
        <!-- Display message box -->
      <div *ngIf="message" [ngClass]="messageType" class="message-box">
        {{ message }}
      </div>
        <button class="auth-button" type="submit">Reset Password</button>
      </form>

      <div class="auth-links">
        <a [routerLink]="['/login']">Log In</a>
      </div>
    </div>
  </div>

  <!-- RIGHT SIDE (welcome message + logo + sub-message) -->
  <div class="right-side">
    <div class="welcome-box">
      <h1>Welcome to All Soft Multimedia</h1>
      <img src="/assets/Img/ASM.png" alt="Website Logo" class="big-logo" />
      <p class="sub-text">
        Your destination for premium computers, consoles, and digital accessories.
      </p>
    </div>
  </div>
</div>
