<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-#f09a" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<footer>
    <div>
        <h2>About us</h2>
        <ul>
        <li><a href="https://asmcommunication.com/contact-v-2/" target="_blank">Contact us</a></li>
        </ul>
    </div>
    <div>
        <h2>Our Locations</h2>
        <ul>
        <li><i class="fa-solid fa-location-dot"></i>&nbsp;Av.de la liberté Imm. El Itkan 3 ème étage Bur. 11 Sfax 3027</li>
        <li><i class="fa-solid fa-location-dot"></i>&nbsp;Showroom: Rte Manzel Chaker Km 2.5, Imm. Aziza</li>
        <li><i class="fa-solid fa-location-dot"></i>&nbsp;7, rue du Lac Côme, Imm. Nessima, 1er étage, App 1, 2 et 3 Et Les Berges du Lac, 1053, Tunis</li>
        <li><i class="fa-solid fa-location-dot"></i>&nbsp;Av Yasser Arafat, Résidence Chaima, 4ème étage App 401 Sahloul, Sousse</li>
    </ul>
    </div>
    
    <nav>
      <ul>
        <li><a href="https://www.facebook.com/allsoftmultimedia" target="_blank"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.youtube.com/@allsoftmultimedia1873" target="_blank"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://asmpos.com/" target="_blank"><i class="fab fa-google"></i></a></li>
        <li><a href="https://www.instagram.com/asmpos/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/company/asm-tunisie/?originalSubdomain=tn" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </nav>
    
    <p><a href="#"><img src="/assets/Img/ASM.jpg" alt="ASM" width="30px"></a><a href="https://asmcommunication.com/?fbclid=IwY2xjawEWO1lleHRuA2FlbQIxMAABHU8U4Oams026S02Taxw56Qlga7b-FjH322FJnoheJbgeEM6u8K8x3dr4FQ_aem__0d5TPx0fSE2lVHfG2WR0Q" target="_blank">&copy; ASM-All Soft Multimedia</a></p>
  </footer>
